torch>=2.0.0
transformers>=4.38.0
accelerate>=0.24.0
datasets>=2.16.1
sentencepiece
bitsandbytes>=0.42.0
scikit-learn>=1.3.2
scipy>=1.10.1
numpy
pandas
tqdm
jsonlines
fire
protobuf
tiktoken
matplotlib
seaborn

